.row {
    margin-bottom: 10%;
    padding-bottom: 10%;
    height: 110%;

}

img {
    /*visibility: hidden;*/
    padding: 25% 25% 25% 25%;
}

label {
    margin-bottom: 0px;
    margin-top: 10px;
}
