/*body > **/
/*{*/
/*    border-style: solid;*/
/*}*/

/*div > **/
/*{*/
/*    border-style: double;*/
/*}*/

body {
    font-size: 16px;
    background: linear-gradient(180deg, rgb(0, 24, 129) 0%, rgb(189, 191, 210)) fixed;
}



h2 {
    color: white;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}