/*body > **/
/*{*/
/*    border-style: solid;*/
/*}*/

/*div > **/
/*{*/
/*    border-style: double;*/
/*}*/

body {
    font-size: 16px;
    background: linear-gradient(180deg, rgba(0, 87, 187, 1) 0%, rgba(255, 255, 255, 1)) fixed;
}



h2 {
    color: white;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}